h1{
  background: #c3edea; 
  /*margin-left: 100px; 
  margin-bottom: 100px;*/
margin: 50px 50px 50px 50px;
}
h2{
  background: #d8b9c3;
  padding: 30px;
}
p{
   background: #ffe8df ;
   padding: 70px; 
}
